.banner {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__wrapper {
    height: inherit;
    width: inherit;
    background: linear-gradient(0deg, #111 10%, transparent 90%);
  }
  &__content {
    width: inherit;
    height: inherit;
    background: linear-gradient(90deg, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    color: white;
  }
  &__name {
    font-size: 6rem;
    font-weight: 700;
  }
  &__info {
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    gap: 2rem;
  }
  &__rating {
    color: #46d369;
  }
  &__overview {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #999;
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}
