.similar__movies {
  display: none;
  width: 100%;
  margin-top: 5rem;
  opacity: 0;
  transition: all 0.2s;

  &__heading {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
