@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;

  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }
  // @media (max-width: 900px) {
  //   font-size: 55%;
  // }
}
