@import "../../styles/mixins.scss";

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;

  &__contents {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 10rem;
  }
  &__right {
    display: flex;
  }
  &__avatar {
    max-height: 4rem;
  }
}
